@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    justify-content: center;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
    --background: #fdfdfd;
    --text-primary: #212121;
}

[data-theme='dark'] {
    --background: #212121;
    --text-primary: #fdfdfd;
}

.wrapper {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px , 1fr));
    gap: 1rem;
    padding-top: 30px;
    background-color: var(--background);
    color: var(--text-primary);
    transition: all 0.5s ease;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;

}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

a {
    color: var(--text-primary);
}

section > h1, section > h5, section > h2, section > h4 {
    text-align: center;
}

img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

img:hover {
    filter: none !important;
}

.btn {
    width: max-content;
    display: inline-block;
    padding: 0.3rem 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    border: 1px solid;
}

.btn:hover {
    background: var(--text-primary);
    color: var(--background);
    transition: all 0.5s ease;
}

@media screen and (max-width: 600px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
    .container {
        width: var(--container-width-sm);
    }
}